<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Listar Produtos</title>
</head>
<body>
    <h1>Lista de Produtos</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Código de Barras</th>
                <th>Nome</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.id }}</td>
                <td>{{ produto.codigo_barras }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.quantidade }}</td>
                <!-- Adicione essa linha na tabela de produtos -->
                <!-- Adicione essa linha na tabela de produtos -->
                <td><a href="{{ url_for('atualizar_produto', produto_id=produto.id) }}">Atualizar/Editar</a></td>


            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('cadastro_produto') }}">Cadastrar Novo Produto</a>
    <a href="{{ url_for('exibir_index') }}">Pagina Inicial</a>  
</body>
</html>
